body { background: #b5e4a6; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 46px; display: flex; }
.block-token-0 { color: #c3067b; font-size: 19px; margin-bottom: 5px; }
.block-product-1 { color: #737dff; font-size: 19px; margin-bottom: 5px; }
.block-cluster-2 { color: #1a9dc0; font-size: 16px; margin-bottom: 5px; }
.block-logger-3 { color: #83bda0; font-size: 18px; margin-bottom: 5px; }
.block-database-4 { color: #479118; font-size: 17px; margin-bottom: 5px; }